.p14
{
    background-color: #0000FF;
}
.p13
{
    background-color: #0a86e4 ;
}
.p12
{
    background-color: #69b2fb ;
}
.p11
{
    background-color: #89CFF0 ;
}
.p10
{
    background-color:  #CC00FF ;
}
.p9
{
    background-color: #d775ef ;
}
.p8
{
    background-color: #c997c9 ;
}
.p7
{
    background-color: #f4a1e6 ;
 }
.p6
{
    background-color: #FF0000  ;
}
.p5
{
    background-color:  #f53131 ;
   
}
.p4
{
    background-color: #a8332b ;
}
.p3
{
    background-color: #e64e60 ;
}
.p2
{
    background-color:  #0B6623 ;
}
.p1
{
    background-color: #1a8e4e ;
}
.p0
{
    background-color: #50C878 ;
}

